[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
slackclient = "*"
python-dotenv = "==0.10.3"
jira = "*"
gunicorn = "==19.9.0"
Flask = "*"
Flask-Cors = "*"

[scripts]
notify = "python teambot/runner.py"

[requires]
python_version = "3.6"
